{% extends 'partials/base.html' %}
{% block title %} Remoção de Mercadoria {% endblock %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border bg-white p-3">
                <div class="h3">
                    Editar Mercadoria
                </div>
                <hr>

                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <a class="btn btn-secondary" href="{% url 'dashboard-mercadorias' %}">Cancelar</a>
                    <input class="btn btn-info" type="submit" value="Editar">
                </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}